<nav class="green accent-3" role="navigation">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo center">Logo</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign In", signin_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
    </ul>
    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign In", signin_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
    </ul>
  </div>
</nav>
