<nav class="green accent-3" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo left"><i class="fa fa-pagelines" aria-hidden="true"></i>Garden Wizard</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if @current_user.present? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Save", root_path %></li>
        <!-- <li><%= link_to "Generate List", root_path %></li> -->
        <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create", new_garden_path %></li>
        <li><%= link_to "Sign In", signin_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
      <% if @current_user.present? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Save", root_path %></li>
        <!-- <li><%= link_to "Generate List", root_path %></li> -->
        <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create", new_garden_path %></li>
        <li><%= link_to "Sign In", signin_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
