<!DOCTYPE html>
<html>
  <head>
    <title>Garden Wizard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application' %>

  <% if @current_user.present? %>
    <script>
      var current_user = <%= @current_user.id %>
    </script>
  <% end %>
  </head>

  <body>
    <%= render "includes/navigation" %>
    <div class="container">
      <%= render "includes/flash_notices" %>
    </div>
    <%= yield %>
    <%= render "includes/footer" %>
  </body>
</html>
